@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@import "utils/variables";
@import "utils/mixin";


@import "node_modules/modern-normalize/modern-normalize.css";

/*Todo el contenido*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; //esto asegura que el relleno y el borde estan incluidos en el ancho total y altura de los elementos
  text-decoration: none;
  list-style: none;
}


  @import 'components/header';
  @import 'components/products';
  @import 'components/about';
  @import 'components/advantages';
  @import 'components/gallery';
  @import 'components/customerReviews';
  @import 'components/contacts';
  @import 'components/footer';
  
  

