@import '../utils/variables';
/*---contacts---*/
.contacts{
    width: 100%;
}
.contacts__container{
    
    justify-content: center;
}

.contacts__list{
    
    position:static;
    top:10px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color: $background-pink;
    align-items: center;
}
.contacts__card{
    position: relative;
    background-color: $white;
    box-shadow:  0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    text-align:left;  
    width: 368px;
    height: 538px;
    top: -99px;
    padding: 40px;
    margin: 16px;
    
    &:hover{
        box-shadow:  0px 8px 30px rgba(105, 6, 31, 0.377);
        border-radius: 24px;
        cursor: pointer;
    }
    
}

.cards__data{
    background-color: $white;
    font-family: inherit;
    font-size: 16px;
    color: $black;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  

    &--title{
        color: $white;
        background: $coffee;
        border-radius: 6px;
        width: 75.1px;
        height: 28px;
        text-align: center;
        letter-spacing: 0.04em;
        line-height: 186%;

        &--Store{
            width: 138px;
            background-color: $lime;

        }

    }
    &--subtitle{
        margin-bottom: 8px;
    }

    &--text{
        color: $gray;
        border-bottom: 1px solid $border-gray;
        padding-bottom: 32px;
    }

    &--time{
        color: $light-pink;
    }

    &--contact{
        color: $gray; 
        margin-bottom: 20px; 
        

        &--phone{
        border-top: 1px solid $border-gray;
        padding-top: 32px;

        }    
        &:hover{
            color: $dark-pink;   
            cursor: pointer;    
        }    
    }
}

/*---contacts-button---*/
.contacts__button{
    align-items: center;
    align-content: center;
    text-align: center;
    gap:12px;

}
.button{
    background-color: $gray;
    border-radius: 22px;
    border: none;
    color: $white;
    height: 44px;
    justify-content: center;
    margin-top: 1%;
    width: max-content;
    cursor: pointer;
    position:relative;
    top:-80px;
    padding-left: 35px;

    

    &--location{
        background-color: $dark-pink;
        padding-right: 54px;
    }
    &--franchise{
        background-color: $white;
        color: $dark-pink;
        padding-right: 54.13px;
        text-align: center;
    }


    &:hover{
        cursor: pointer;
        position: relative;
        top: -90px;
        
    }
    &--maps{
        border: 1px solid $light-pink;
        background-color: $white;
        color: $dark-pink;
        padding: 8px;
        position: static;
        &:hover{
            transform: scale(1.15);
            transition: 500ms;
            position: static;
            top: 0px;
            background-color: $dark-pink;
            color: $white;

        }
    }
    &--submit{
        background-color: $dark-pink;
        padding-left: 0px;
        width: 70px;
        position: static;
        margin-left: 125px;
               

        
        &:hover{
            transform: scale(1.15);
            transition: 500ms;
            position: static;
            top: 0px;
            background-color: $dark-pink;
            color: $white;

        }
    }
   
}

/*---contacts-modal---*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    height: 100%;
    z-index: 5;

    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
             visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden{
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.contacts__close{
    color: $light-pink;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background:var(--white);
    border: 1px solid $light-pink;
    cursor: pointer;
    top:6.5px;
    left: 360px;
    right: 8px;
    &:hover{
        background-color: $light-pink;
        color: $white;
    }
}



/*---Form---*/
.contacts__modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 400px;
    height: 580px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.034), 0px 1px 1px rgba(0, 0, 0, 0.082), 0px 2px 1px rgba(0, 0, 0, 0.089);
    border-radius: 4px;
    border: 1px solid $light-pink;
    &--franchise{
        width: 400px;
        height: 470px;

    }
}
.contacts__window{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap:10px;
  
    &--title{
        color: $dark-pink;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-family: inherit;
    }

    &--subtitle{
        color: $dark-pink;
    }
    &--franchise{
        align-items: left;
        align-content: left;
    }
}

.contacts__lable{
    margin: 10px 0px 4px 0px;
    color: $gray;
    font-size: 14px;
    line-height: 11px;   
    text-align: left;
  }

  .textarea{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;  
    padding: 12px 16px;  
    width: 335px;
    height: 120px;
    outline: none;
     }

 .contacts-input{
        padding: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        font-family: inherit;
        font-size: 14px;  
        Width: 335px;
        Height:35px;
        padding: 15px;
        outline: none;
        display: block;
        
    }
    .contacts__map{
        width:335px;
        height:400px;
     }


    @media only screen and (min-width: 768px) and (max-width:1199px){
    .contacts__card{
        width: 224px;
        height: 528px;
    }
    .cards__data{
        margin-bottom: 10px;
    }

    }

    @media only screen and (min-width: 320px) and (max-width:767px){
        .contacts {
            padding-bottom: 0;
            margin-bottom: -60px;
        }
        .contacts__card{
            width: 270px;
            height: 412px;
        }

        .contacts__list{
            justify-content: center;
        }
        .cards__data{
            margin-bottom: 10px;
            font-size: 12px;
        }
        .button{
            top:-100px;
            height: 44px;
            width: 161px ;
            margin-bottom: 15px;
            padding: 0 ;
            &--maps{
                height: 44px;
                width: 161px ;
            }
            &--submit{
                margin-left:25px;
            }

        }
        .contacts__button{
            gap: 5px;
        }
        .contacts__modal{
            width: 270px;
            height: 500px;
            align-items: center;
            align-content: center;
        }
        .contacts__window{
            gap:5px;
            &--title{
            font-size: 14px;

            } 
            &--subtitle{
                color: $dark-pink;
                font-size: 12px;
            }
        }
        .contacts__map{
            width:250px;
            height:340px;
         }

         .contacts__close{
            left: 245px;
    
         }

         .contacts__modal{
            width: 285px;
            height: 500px;
            &--franchise{
                
                height: 420px;
        
            }

         }
         .textarea{
            width: 220px;
            height: 90px;
         }
         
         .contacts-input{
            Width: 220px;
            Height:25px;
         }

    }
