@import "../utils/variables";
  .set-products {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .set-products__h2 {
    color: $dark-pink;
    font-family:  Titan one;
    font-size: 58px;
    letter-spacing: 0.06em
  }

  .set-products__subtitle {
    color: $light-pink;
    font-family: Titan one;
    font-size: 30px;
    letter-spacing: 0.04em;
    
  }

  .set-products .set-products__subtitle:hover{
    animation: rotation 4s ;
    animation-direction: alternate;
}

@keyframes rotation {
    0% {
        letter-spacing: 30px;
    }
}

.set-products__h2:hover{
  animation: spacing 4s ;
  animation-direction: alternate;
}

@keyframes spacing {
    0% {
      letter-spacing: 50px;
    }
}
  .products {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .set-products__titles {
    align-items: center;
    display: flex;
    margin-top: 8em;
    justify-content: center;
    flex-direction: column;
  }

  .set-products p {
    color: $white;
  }

  .set-products .products li {
    margin-left: 2em;
    margin-top: 18em;
  }

  .products__information-product {
    cursor: pointer;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    width: 245px;
    margin-top: 5em;
    margin-left: 4.3em;
    text-align: center;
  }

  .tarjet-1 {
    position: relative;
    cursor: pointer;
    background-color: #FFB8CA;
    border-radius: 24px;
    display: flex;
    height: 40em;
    margin: 0 0 60px 0;
    width: 368px;
    flex-direction: column;
    transition: 1s;
  }

  .tarjet-1:hover {
    transition: 1s;
    background-color: rgb(224, 145, 158);
    box-shadow: 5px 4px 5px rgb(228, 165, 176),
    4px 3px 4px rgb(243, 177, 188),
    3px 2px 3px rgb(252, 197, 206),
    2px 1px 2px rgb(255, 209, 217);
  }

  .tarjet-2 {
    position: relative;
    cursor: pointer;
    background-color: $coffee;
    border-radius: 24px;
    display: flex;
    height: 40em;
    margin: 0 0 60px 0;
    width: 368px;
    flex-direction: column;
    transition: 1s;
  }

  .tarjet-2:hover {
    transition: 1s;
    background-color: #cfae7f;
    box-shadow: 5px 4px 5px #dfb983,
    4px 3px 4px #e9c592,
    3px 2px 3px #ffd69c,
    2px 1px 2px #F0D1A5;
  }

  .tarjet-3 {
    position: relative;
    cursor: pointer;
    background-color: $lime;
    border-radius: 24px;
    display: flex;
    height: 40em;
    margin: 0 3em 60px 0;
    width: 368px;
    flex-direction: column;
    transition: 1s;
    z-index: 0;
  }

  .tarjet-3:hover {
    transition: 1s;
    background-color: #9fce62;
    box-shadow: 5px 4px 5px #b8e480,
    4px 3px 4px #cbf891,
    3px 2px 3px #c7ec96,
    2px 1px 2px #aecc88;
  }

  .products .mix__svg {
    fill: $dark-pink;
    transform: translateX(0px) translateY(1px);
    transition: 500ms;
  }

  .tarjet-1__mix-btn {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5em) translateX(11em);
    transition: 500ms;
  }

  .tarjet-2__mix-btn {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5em) translateX(11em);
    transition: 500ms;
  }

  .tarjet-3__mix-btn {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5em) translateX(11em);
    transition: 500ms;
  }

  .tarjet-1:hover .tarjet-1__mix-btn {
    border-radius: 35%;
  }
  .tarjet-2:hover .tarjet-2__mix-btn {
    border-radius: 35%;
  }
  .tarjet-3:hover .tarjet-3__mix-btn {
    border-radius: 35%;
  }

  .tarjet-1:hover .tarjet-1__btn {
    fill: $white;
    background-color: $dark-pink;
    transition: 500ms;
  }

  .tarjet-1:hover .mix-btn__svg {
    fill: $white;
    transform: rotate(-90deg) translateX(0) translateY(0px);
    transition: 250ms;
  }

  .tarjet-2:hover .tarjet-2__btn {
    fill: $white;
    background-color: $dark-pink;
    transition: 500ms;
  }

  .tarjet-2:hover .mix-btn__svg {
    fill: $white;
    transform: rotate(-90deg) translateX(0) translateY(0px);
    transition: 250ms;
  }

  .tarjet-3:hover .tarjet-3__btn {
    fill: $white;
    background-color: $dark-pink;
    transition: 500ms;
  }

  .tarjet-3:hover .mix-btn__svg {
    fill: $white;
    transform: rotate(-90deg) translateX(0) translateY(0px);
    transition: 250ms;
  }

  .tarjet-1__btn {
    background-color: $white;
    border: none;
    cursor: pointer;
    transition: 500ms;
  }

  .tarjet-2__btn {
    background-color: $white;
    border: none;
    cursor: pointer;
    transition: 500ms;
  }

  .tarjet-3__btn {
    background-color: $white;
    border: none;
    cursor: pointer;
    transition: 500ms;
  }

  .products__image-1 {
    position: absolute;
    top: 57em;
    bottom: 9em;
    width: 358px;
    transform: translateX(7px) translateY(0);
    z-index: 1;
  }

  .products__image-2 {
    position: absolute;
    top: 57em;
    bottom: 9em;
    width: 358px;
    transform: translateX(7px) translateY(0);
    z-index: 1;
  }

  .products__image-3 {
    position: absolute;
    top: 57em;
    bottom: 9em;
    width: 358px;
    transform: translateX(7px) translateY(0);
    z-index: 1;
  }

  .tarjet-1__name-product-1 {
    color: $white;
    font-family: Titan one;
    font-weight: 400;
    font-size: 30px;
    width: 368px;
    margin-top: 7em;
    margin-left: 3.2em;
  }

  .tarjet-2__name-product-2 {
    color: $white;
    font-family: Titan one;
    font-weight: 400;
    width: 368px;
    font-size: 30px;
    margin-top: 7em;
    margin-left: 3em;
  }

  .tarjet-3__name-product-3 {
    color: $white;
    font-family: Titan one;
    font-weight: 400;
    font-size: 30px;
    width: 368px;
    margin-top: 7em;
    margin-left: 2.6em;
  }

  .products__dot {
    font-size: 50px;
    text-align: center;
  }

  @media only screen and (min-width: 768px) and (max-width:1199px) {
    .tarjet-1 {
      position: relative;
      cursor: pointer;
      background-color: $strawberry;
      border-radius: 24px;
      display: flex;
      height: 35em;
      margin: 0 0 60px 0;
      width: 224px;
      flex-direction: column;
      transition: 1s;
    }

    .tarjet-2 {
      position: relative;
      cursor: pointer;
      background-color: $coffee;
      border-radius: 24px;
      display: flex;
      height: 35em;
      margin: 0 0 60px 0;
      width: 224px;
      flex-direction: column;
      transition: 1s;
    }

    .tarjet-3 {
      position: relative;
      cursor: pointer;
      background-color: $lime;
      border-radius: 24px;
      display: flex;
      height: 35em;
      margin: 0 0 60px 0;
      width: 224px;
      flex-direction: column;
      transition: 1s;
    }

    .tarjet-1__name-product-1 {
      font-size: 20px;
      width: 7em;
    }

    .tarjet-2__name-product-2 {
      font-size: 20px;
      width: 255px;
    }

    .tarjet-3__name-product-3 {
      font-size: 20px;
      width: 7em;
    }

    .set-products .products li {
      margin-left: 1em;
      margin-top: 18em;
    }

    .products__information-product {
      font-size: 14px;
      width: 160px;
      margin-left: 2.5em;
    }

    .tarjet-1:hover .tarjet-1__btn {
      fill: $white;
      background-color: $dark-pink;
      transition: 250ms;
    }
  
    .tarjet-1:hover .mix-btn__svg {
      fill: $white;
      transform: rotate(-90deg) translateX(0) translateY(0px);
      transition: 250ms;
    }
  
    .tarjet-2:hover .tarjet-2__btn {
      fill: $white;
      background-color: $dark-pink;
      transition: 250ms;
    }
  
    .tarjet-2:hover .mix-btn__svg {
      fill: $white;
      transform: rotate(-90deg) translateX(0) translateY(0px);
      transition: 250ms;
    }
  
    .tarjet-3:hover .tarjet-3__btn {
      fill: $white;
      background-color: $dark-pink;
      transition: 250ms;
    }
  
    .tarjet-3:hover .mix-btn__svg {
      fill: $white;
      transform: rotate(-90deg) translateX(0) translateY(0px);
      transition: 250ms;
    }

    .tarjet-1__mix-btn {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(5em) translateX(6.5em);
      transition: 500ms;
    }
  
    .tarjet-2__mix-btn {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(5em) translateX(6.5em);
      transition: 500ms;
    }
  
    .tarjet-3__mix-btn {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(5em) translateX(6.5em);
      transition: 500ms;
    }

    .products__image-1 {
      position: absolute;
      bottom: 9em;
      width: 224px;
      transform: translateX(0) translateY(-10em);
      z-index: 1;
    }
  
    .products__image-2 {
      position: absolute;
      bottom: 9em;
      width: 224px;
      transform: translateX(0) translateY(-10em);
      z-index: 1;
    }
  
    .products__image-3 {
      position: absolute;
      bottom: 9em;
      width: 224px;
      transform: translateX(0) translateY(-10em);
      z-index: 1;
    }

    .set-products__subtitle {
      font-size: 22px;
    }
  }

  @media only screen and (min-width: 320px) and (max-width:767px) {
      .tarjet-1 {
        position: relative;
        cursor: pointer;
        background-color: $strawberry;
        border-radius: 24px;
        display: flex;
        height: 35em;
        margin: 0 0 60px 0.2em;
        width: 280px;
        flex-direction: column;
        transition: 1s;
      }
  
      .tarjet-2 {
        position: relative;
        cursor: pointer;
        background-color: $coffee;
        border-radius: 24px;
        display: flex;
        height: 35em;
        margin: 0 0 60px 0.2em;
        width: 280px;
        flex-direction: column;
        transition: 1s;
      }
  
      .tarjet-3 {
        position: relative;
        cursor: pointer;
        background-color: $lime;
        border-radius: 24px;
        display: flex;
        height: 35em;
        margin: 0 0 60px 0;
        width: 280px;
        flex-direction: column;
        transition: 1s;
      }

      .products .mix__svg {
        fill: $dark-pink;
        transform: translateX(0) translateY(1px);
        transition: 500ms;
      }
    
      .tarjet-1__mix-btn {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(5em) translateX(8em);
        transition: 500ms;
      }
    
      .tarjet-2__mix-btn {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(5em) translateX(8em);
        transition: 500ms;
      }
    
      .tarjet-3__mix-btn {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(5em) translateX(8em);
        transition: 500ms;
      }
    
      .tarjet-1:hover .tarjet-1__btn {
        color: $white;
        background-color: $dark-pink;
        transition: 500ms;
      }
    
      .tarjet-1:hover .mix__svg {
        fill: $white;
        transform: rotate(-90deg) translateX(0) translateY(0px);
        transition: 500ms;
      }
    
      .tarjet-2:hover .tarjet-2__btn {
        color: $white;
        background-color: $dark-pink;
        transition: 500ms;
      }
    
      .tarjet-2:hover .mix__svg {
        fill: $white;
        transform: rotate(-90deg) translateX(0) translateY(0px);
        transition: 500ms;
      }
    
      .tarjet-3:hover .tarjet-3__btn {
        color: $white;
        background-color: $dark-pink;
        transition: 500ms;
      }
    
      .tarjet-3:hover .mix__svg {
        fill: $white;
        transform: rotate(-90deg) translateX(0) translateY(0px);
        transition: 500ms;
      }
    
      .tarjet-1__btn {
        background-color: $white;
        border: none;
        cursor: pointer;
      }
    
      .tarjet-2__btn {
        background-color: $white;
        border: none;
        cursor: pointer;
      }
    
      .tarjet-3__btn {
        background-color: $white;
        border: none;
        cursor: pointer;
      }

      .set-products__titles {
        margin-left: 5.3em;
      }
  
      .tarjet-1__name-product-1 {
        font-size: 20px;
        margin-left: 4.1em;
        width: 7em;
      }
  
      .tarjet-2__name-product-2 {
        font-size: 20px;
        margin-left: 4em;
        width: 7em;
      }
  
      .tarjet-3__name-product-3 {
        font-size: 20px;
        margin-left: 3.8em;
        width: 7em;
      }
  
      .products__information-product {
        font-size: 14px;
        width: 160px;
        margin-left: 4.5em;
      }
  
      .products__image-1 {
        position: absolute;
        bottom: 9em;
        margin-left: 0.2em;
        width: 224px;
        transform: translateX(1.8em) translateY(-13em);
        z-index: 1;
      }
    
      .products__image-2 {
        position: absolute;
        bottom: 9em;
        width: 224px;
        margin-left: 0.2em;
        transform: translateX(1.8em) translateY(34em);
        z-index: 1;
      }
    
      .products__image-3 {
        position: absolute;
        bottom: 9em;
        width: 224px;
        margin-left: 0.2em;
        transform: translateX(1.8em) translateY(81em);
        z-index: 1;
      }

      .set-products__titles {
        margin-left: 1em;
      }

      .products {
        display: flex;
        flex-direction: column;
      }
  
      .set-products .products li {
        margin-left: -2em;
        margin-top: 12em;
        width: 224px;
        height: 560px;
      }

      .set-products__h2 {
        font-size: 34px;
      }

      .set-products__subtitle {
        font-size: 18px;
      }
  }
  